/* Enter your Styles below! */





header{
background-image: url('../images/header-background.svg');
background-size: 100% ;
background-repeat: no-repeat;
height:200px;
}



body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Hobostd, sans-serif;
	padding-top: 50px;
}

h1 {
	font-size: 48px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: Hobostd, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a {
	color: lightblue;
	text-decoration: none;
	 }
a:hover { color: red; }

.top-grid {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 20px;
	width: 100%;
	margin: auto;
}
.top-grid div{
	text-align: center;
	height: 50px;
	width: 70%;
	background-color: white;
	border-radius: 100%;

}

.main-grid {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-gap: 10px;
	width: 75%;
	padding-top: 150px;
	margin: auto;
}

.main-grid div {
	background-color: white;
	padding: 10px;
}

img {
	display: block;
		margin-top: 50px	;
		margin-left: auto;
	  margin-right: auto;
	  width: 75%;}

.box{
	background-color: lightblue;
	width: 100%;
	height: 100%;
}

.linebreak{
	background-color: orange;
	height: 3px;
	width: 100%;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}





@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
