/* Enter your Styles below! */





header{
background-image: url('../images/header.svg');
background-image: height: 130px;
background-size:cover ;
background-repeat: no-repeat;
height:200px;

}

li{list-style-type: none;}

hr{ border-top: 2px solid red;}

body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica;
	font-weight: bold;
	padding-top: 35px;
}

h1 {
	font-size: 64px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a {
	color: lightblue;
	text-decoration: none;
	 }
a:hover { color: red; }

.top-grid {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 20px;
	width: 75%;
	margin: auto;
}
.top-grid div{
	border: 2px solid;
	border-color: lightblue;
	padding: 25px;
	border-radius: 50%;
	text-align: center;
}

.top-grid div:hover {
    border:2px solid red;}

.main-grid {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-gap: 10px;
	width: 75%;
	padding-top: 150px;
	margin: auto;
}

.main-grid div {
	background-color: white;
	padding: 10px;

}





img {
	display: block;
		margin-top: 50px	;
		margin-left: auto;
	  margin-right: auto;
	  width: 75%;}

.box{
	background-color: lightblue;
	width: 100%;
	height: 100px;
}

.linebreak{
	background-color: red;
	height: 3px;
	width: 100%;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;

}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}





@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
